<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upload.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        window.uploaded_files = {{ uploaded_files|tojson }};
    </script>
    <script src="{{ url_for('static', filename='process.js') }}"></script>
</head>
<body>
<table id="files_table">
    <thead>
    <tr>
        <th scope="col">File</th>
        <th scope="col">Status</th>
        <th scope="col">Link</th>
    </tr>
    </thead>
    <tbody>
    {% for file in uploaded_files %}
    <tr id="file_{{ file['file_id'] }}"><td>{{ file['filename'] }}</td><td>uploaded</td><td>link</td></tr>
    {% endfor %}
    </tbody>
</table>

<form id="upload_form">
    <input type="file" name="file" accept=".xml, application/xml"/>
    <button type="button" id="upload_button">Upload</button>
    <button type="button" id="process_button">Process</button>
</form>
</body>
</html>